<tr>
        <td><%= collection.collection_name %></td>
        <td><%= link_to 'View', collection %></td>
       
        <% if current_user == collection.user %>
        	<td><%= link_to 'Edit', edit_collection_path(collection) %></td>
        	<td><%= link_to 'Delete', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
</tr>
