<% unless user_signed_in? %>

<div class="hero-unit">
	<h1>Welcome to OMR!</h1>
	<p>You've found my home page:
	<%= link_to "Google Search", "http://google.com" %>

	</p>
	<p>
	<%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-small" %>
	</p>
</div>

<%end%>