

<h3> Photo collections </h3>
<p>
	<%= link_to "Twitter", "http://twitter.com" %>
	is a micro blogging service that anyone can use! It's a 
	<%= link_to "public square", "http://en.wikipedia.org/wiki/Public_Square" %>. 
	This is placeholder text
</p>

