$baseFontFamily: Oxygen; 
$navbarBackgroundHighLight: blue; 
$navbarBackground: white; 
$btnPrimaryBackground: green; 

@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';

body {
	padding-top: 60px; 
}


@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
}

.footer {
	margin-top: 50px;	
	color: $grayLight; 
	a { color: $gray;}
}